body h1 {
    color: #F7AD0B;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.key {
    color: #1500FF;
    background-color: #D4D6E9;
    font-size: x-large;
}
body {
    background-image: url(%E3%83%AD%E3%83%B3%E3%83%89%E3%83%B3.jpg);
    background-clip: border-box;
    background-attachment: scroll;
    background-size: cover;
}


body h1 {
}
body h1 {
}
body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body p {
}
